<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experience - {{ name }}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <!-- Header & Navigation -->
    <header>
      <div class="container">
        <nav>
          <ul class="nav-links">
            <li><a href="{% url 'main:show_main' %}">Profile</a></li>
            <li>
              <a href="{% url 'main:show_experience' %}" class="active"
                >Experience</a
              >
            </li>
            <li><a href="{% url 'main:show_main' %}#about">About</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="{% url 'main:show_main' %}#skills">Skills</a></li>
            <li><a href="{% url 'main:show_main' %}#projects">Projects</a></li>
            <li><a href="{% url 'main:show_main' %}#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="education" style="padding-top: 160px; min-height: 80vh">
      <div class="container">
        <h2 class="section-title">Experience</h2>
        <div class="timeline">
          <!-- Item 1 -->
          {% for experience in experience_list %}

          <article class="timeline-item">
            <span class="experience-category">
              {{ experience.get_category_display }}
            </span>
            <h2>{{ experience.title }}</h2>
            <p class="experience-description">{{ experience.description }}</p>
            {% if experience.is_ongoing %}
            <p class="experience-status">Sedang berlangsung</p>
            {% else %}
            <p class="experience-status">Selesai</p>
            {% endif %}
          </article>
          {% empty %}
          <p class="empty-state">Belum ada pengalaman yang ditambahkan.</p>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <p>&copy; 2026 {{ name }} - {{ npm }} . All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
